# https://homebox.software/en/quick-start/configure/

HBOX_OIDC_ENABLED=true
HBOX_OIDC_ISSUER_URL=https://auth.example.org/oidc
HBOX_OIDC_CLIENT_ID=<REPLACEME>
HBOX_OIDC_CLIENT_SECRET=<REPLACEME>
HBOX_OIDC_AUTO_REDIRECT=true
HBOX_OPTIONS_TRUST_PROXY=true
HBOX_OPTIONS_ALLOW_LOCAL_LOGIN=false
