name: obsidian
services:
  obsidian:
    image: lscr.io/linuxserver/obsidian:latest
    container_name: obsidian
    volumes:
      - /fjellheimen/data/obsidian:/config
      - /xdrive/Data/Vaults:/vaults
    networks:
      - proxy-network
    env_file:
      - /fjellheimen/stacks/.env
    shm_size: 1gb
    healthcheck:
      test: curl --fail http://localhost:3000 || exit 1
      interval: 1m
      start_period: 20s
      timeout: 10s
      retries: 3
    restart: unless-stopped
networks:
  proxy-network:
    external: true
