*.env

data/*
!data/.gitkeep

jobs/.last_public_ip

!data/dashboard
data/dashboard/*
!data/dashboard/homepage
data/dashboard/homepage/*
!data/dashboard/homepage/config
data/dashboard/homepage/config/*
!data/dashboard/homepage/config/bookmarks.yaml
!data/dashboard/homepage/config/services.yaml
!data/dashboard/homepage/config/settings.yaml
!data/dashboard/homepage/config/widgets.yaml

proxy/data/*
