# https://voidauth.app/#/Getting-Started?id=environment-variables

APP_URL=https://auth.example.org
STORAGE_KEY=<REPLACEME>
APP_TITLE=<REPLACEME>
APP_FONT=IBM Plex Sans, sans-serif
APP_COLOR=#88C0D0

SMTP_HOST=<REPLACEME>
SMTP_FROM=<REPLACEME>
SMTP_PORT=<REPLACEME>
SMTP_USER=<REPLACEME>
SMTP_PASS=<REPLACEME>
