# https://docs.immich.app/overview/quick-start/#step-2---populate-the-env-file-with-custom-values

DB_PASSWORD=postgres
DB_USERNAME=postgres
DB_DATABASE_NAME=immich

# https://docs.immichkiosk.app/configuration/#docker-composeyaml-with-env

KIOSK_IMMICH_API_KEY=<REPLACEME>
KIOSK_REFRESH=60
KIOSK_SHOW_IMAGE_DATE=true
KIOSK_ALBUMS=<REPLACEME>
KIOSK_IMAGE_DATE_FORMAT=DD.MM.YYYY
