# https://docs.immich.app/overview/quick-start/#step-2---populate-the-env-file-with-custom-values

BASE_DOMAIN=example.org

UPLOAD_LOCATION=/fjellheimen/data/immich/server
IMMICH_VERSION=v2.5.6

DB_DATA_LOCATION=/fjellheimen/data/immich/database
DB_PASSWORD=<REPLACEME>
DB_USERNAME=postgres
DB_DATABASE_NAME=immich

# https://docs.immichkiosk.app/configuration/#docker-composeyaml-with-env

KIOSK_IMMICH_API_KEY=<REPLACEME>
KIOSK_REFRESH=60
KIOSK_SHOW_IMAGE_DATE=TRUE
KIOSK_ALBUMS=<REPLACEME>
KIOSK_IMAGE_DATE_FORMAT="DD.MM.YYYY"
