ACTUAL_OPENID_AUTH_METHOD=openid
ACTUAL_LOGIN_METHOD=openid
ACTUAL_ALLOWED_LOGIN_METHODS=openid
ACTUAL_OPENID_DISCOVERY_URL=https://auth.fjellhei.men/oidc/.well-known/openid-configuration
ACTUAL_OPENID_CLIENT_ID=<REPLACEME>
ACTUAL_OPENID_CLIENT_SECRET=<REPLACEME>
ACTUAL_OPENID_SERVER_HOSTNAME=https://finances.fjellhei.men
