# https://github.com/maxmind/geoipupdate/blob/main/doc/docker.md

GEOIPUPDATE_ACCOUNT_ID=<REPLACEME>
GEOIPUPDATE_LICENSE_KEY=<REPLACEME>

BASE_DOMAIN=<REPLACEME>
PANGOLIN_SECRET=<REPLACEME>
ADMIN_EMAIL=<REPLACEME>
