*.env

data/homepage/config/*
!data/homepage/config/bookmarks.yaml
!data/homepage/config/docker.yaml
!data/homepage/config/kubernetes.yaml
!data/homepage/config/services.yaml
!data/homepage/config/settings.yaml
!data/homepage/config/widgets.yaml
!data/homepage/config/custom.css