STUMP_TRUST_PROXY_HEADERS=true
STUMP_OIDC_ENABLED=true
STUMP_OIDC_ISSUER_URL=https://auth.fjellhei.men/oidc
STUMP_OIDC_CLIENT_ID=<REPLACEME>
STUMP_OIDC_CLIENT_SECRET=<REPLACEME>
STUMP_OIDC_DISABLE_LOCAL_AUTH=true
