---
name: immich

services:

  server:
    image: ghcr.io/immich-app/immich-server:v2.1.0
    container_name: immich-server
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /fjellheimen/immich/data/upload:/usr/src/app/upload
      - /xdrive/Data/Photos:/usr/src/app/external:ro
    networks:
      - proxy-network
      - immich-network
    env_file:
      - /fjellheimen/.env
      - /fjellheimen/immich/.env
    depends_on:
      - redis
      - database
    restart: unless-stopped

  redis:
    image: docker.io/valkey/valkey:8-bookworm@sha256:fea8b3e67b15729d4bb70589eb03367bab9ad1ee89c876f54327fc7c6e618571
    container_name: immich-redis
    networks:
      - immich-network
    env_file:
      - /fjellheimen/.env
    healthcheck:
      test: redis-cli ping || exit 1
    restart: unless-stopped

  database:
    image: ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:bcf63357191b76a916ae5eb93464d65c07511da41e3bf7a8416db519b40b1c23
    container_name: immich-database
    volumes:
      - /fjellheimen/immich/data/postgres:/var/lib/postgresql/data
    networks:
      - immich-network
    env_file:
      - /fjellheimen/.env
      - /fjellheimen/immich/.env
    environment:
      POSTGRES_INITDB_ARGS: '--data-checksums'
      DB_STORAGE_TYPE: 'HDD'
    shm_size: 128mb
    restart: unless-stopped

  kiosk:
    image: ghcr.io/damongolding/immich-kiosk:latest
    container_name: immich-kiosk
    networks:
      - immich-network
      - proxy-network
    env_file:
      - /fjellheimen/.env
      - /fjellheimen/immich/immich-kiosk.env
    environment:
      KIOSK_IMMICH_URL: immich-server:2283
      KIOSK_IMMICH_EXTERNAL_URL: https://photos.fjellhei.men
    healthcheck:
      test: wget -nv -t1 --spider http://localhost:3000 || exit 1
      interval: 1m
      start_period: 20s
      timeout: 10s
      retries: 3
    restart: unless-stopped

networks:
  immich-network:
    name: immich-network
  proxy-network:
    external: true
