# https://www.grampsweb.org/install_setup/configuration/#required-settings

GRAMPSWEB_BASE_URL="https://familytree.example.org"
GRAMPSWEB_OIDC_ENABLED=true
GRAMPSWEB_OIDC_ISSUER=https://auth.example.org/oidc
GRAMPSWEB_OIDC_CLIENT_ID=<REPLACEME>
GRAMPSWEB_OIDC_CLIENT_SECRET=<REPLACEME>
GRAMPSWEB_OIDC_NAME=<REPLACEME>
GRAMPSWEB_OIDC_AUTO_REDIRECT=True
GRAMPSWEB_OIDC_DISABLE_LOCAL_AUTH=True
