ACME_PROVIDER=<REPLACEME>
ACME_EMAIL=<REPLACEME>

PORKBUN_API_KEY=<REPLACEME>
PORKBUN_SECRET_API_KEY=<REPLACEME>

APP_URL="https://auth.fjellhei.men"
STORAGE_KEY=<REPLACEME>
APP_TITLE="Fjellheimen SSO"
APP_FONT=IBM Plex Sans, sans-serif
APP_COLOR="#88C0D0"
