# on_startup
ON_STARTUP_DRIVE_PATH=<REPLACEME>

# backup
BACKUP_USER=<REPLACEME>
BACKUP_SOURCE=<REPLACEME>
BACKUP_DESTINATION=<REPLACEME>

# notify
NOTIFY_TELEGRAM_CHAT_ID=<REPLACEME>
NOTIFY_TELEGRAM_BOT_TOKEN=<REPLACEME>

# offsite_backup
OFFSITE_BACKUP_DRIVE=<REPLACEME>
OFFSITE_BACKUP_CREDENTIALS_FILE=<REPLACEME>
OFFSITE_BACKUP_SOURCE=<REPLACEME>
OFFSITE_BACKUP_DESTINATION=<REPLACEME>

# mirror
MIRROR_UUID=<REPLACEME>
MIRROR_SOURCE=<REPLACEME>
