# https://linkding.link/options/#list-of-options

LD_DISABLE_LOGIN_FORM=true
LD_ENABLE_OIDC=true

# https://linkding.link/options/#ld_enable_oidc

OIDC_OP_AUTHORIZATION_ENDPOINT=https://auth.example.org/oidc/auth
OIDC_OP_TOKEN_ENDPOINT=https://auth.example.org/oidc/token
OIDC_OP_USER_ENDPOINT=https://auth.example.org/oidc/me
OIDC_OP_JWKS_ENDPOINT=https://auth.example.org/oidc/jwks
OIDC_RP_CLIENT_ID=<REPLACEME>
OIDC_RP_CLIENT_SECRET=<REPLACEME>
