# https://github.com/qdm12/gluetun-wiki/tree/main/setup/providers

VPN_SERVICE_PROVIDER=<REPLACEME>
VPN_TYPE=wireguard
WIREGUARD_PRIVATE_KEY=<REPLACEME>
WIREGUARD_ADDRESSES=<REPLACEME>
SERVER_CITIES=<REPLACEME>
