name: arr
services:
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: arr-sonarr
    volumes:
      - /fjellheimen/data/arr/sonarr:/config
      - /xdrive/Media/TV:/tv
      - /xdrive/Media/Downloads:/downloads
    networks:
      - proxy-network
    env_file:
      - /fjellheimen/stacks/.env
    healthcheck:
      test: curl --fail http://localhost:8989 || exit 1
      interval: 1m
      start_period: 20s
      timeout: 10s
      retries: 3
    restart: unless-stopped
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: arr-radarr
    volumes:
      - /fjellheimen/data/arr/radarr:/config
      - /xdrive/Media/Movies:/movies
      - /xdrive/Media/Downloads:/downloads
    networks:
      - proxy-network
    env_file:
      - /fjellheimen/stacks/.env
    healthcheck:
      test: curl --fail http://localhost:7878 || exit 1
      interval: 1m
      start_period: 20s
      timeout: 10s
      retries: 3
    restart: unless-stopped
  prowlarr:
      image: lscr.io/linuxserver/prowlarr:latest
      container_name: arr-prowlarr
      volumes:
        - /fjellheimen/data/arr/prowlarr:/config
      networks:
        - proxy-network
      env_file:
        - /fjellheimen/stacks/.env
      healthcheck:
        test: curl --fail http://localhost:9696 || exit 1
        interval: 1m
        start_period: 20s
        timeout: 10s
        retries: 3
      restart: unless-stopped
  overseerr:
    image: lscr.io/linuxserver/overseerr:latest
    container_name: arr-overseerr
    volumes:
      - /fjellheimen/data/arr/overseerr:/config
    networks:
      - proxy-network
    env_file:
      - /fjellheimen/stacks/.env
    healthcheck:
      test: curl --fail http://localhost:5055 || exit 1
      interval: 1m
      start_period: 20s
      timeout: 10s
      retries: 3
    restart: unless-stopped
  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: arr-bazarr
    volumes:
      - /fjellheimen/data/arr/bazarr:/config
      - /xdrive/Media/TV:/tv
      - /xdrive/Media/Movies:/movies
    networks:
      - proxy-network
    env_file:
      - /fjellheimen/stacks/.env
    healthcheck:
      test: curl --fail http://localhost:6767 || exit 1
      interval: 1m
      start_period: 20s
      timeout: 10s
      retries: 3
    restart: unless-stopped
networks:
  proxy-network:
    external: true
