VIKUNJA_SERVICE_SECRET=<REPLACEME>
VIKUNJA_SERVICE_PUBLICURL=https://tasks.fjellhei.men/

VIKUNJA_AUTH_OPENID_ENABLED=true
VIKUNJA_AUTH_OPENID_PROVIDERS_VOIDAUTH_NAME=VoidAuth
VIKUNJA_AUTH_OPENID_PROVIDERS_VOIDAUTH_AUTHURL=https://auth.fjellhei.men/oidc
VIKUNJA_AUTH_OPENID_PROVIDERS_VOIDAUTH_CLIENTID=<REPLACEME>
VIKUNJA_AUTH_OPENID_PROVIDERS_VOIDAUTH_CLIENTSECRET=<REPLACEME>
VIKUNJA_AUTH_OPENID_PROVIDERS_VOIDAUTH_SCOPE="openid profile email"
VIKUNJA_AUTH_OPENID_PROVIDERS_VOIDAUTH_FORCEUSERINFO=false
VIKUNJA_AUTH_LOCAL_ENABLED=false

VIKUNJA_SERVICE_TIMEZONE=Europe/Oslo
