@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600&display=swap);

* {
    font-family: "IBM Plex Mono";
    --color-800: 32 36 45;
}

.information-widget-greeting > span {
    font-weight: bold;
}

.recharts-area-curve {
    stroke: rgb(127, 197, 217);
}

.recharts-area-area {
    fill: rgba(127, 197, 217, 0.2);
}

.resource-icon {
    stroke: rgb(127, 197, 217);
    fill: rgb(127, 197, 217) !important;
}

.resource-icon[fill="none"] {
fill: none !important;
}

.resource-usage > .rounded-full {
    background-color: rgb(127, 197, 217);
}

.service-card,
.widget-container,
.bookmark > a {
    border: 1px solid rgb(127, 197, 217);
}

#footer {
    display: none;
}

/*
    html[data-theme="dark"] {
    --color-fill: 32, 36, 45;
    --color-text-base: 236, 239, 244;
    --color-accent: 127, 197, 217;
    --color-card: 67, 76, 94;
    --color-card-muted: 39, 85, 99;
    }
*/