---
- name: Setup fjellheimen
  hosts: all
  tasks:
    - name: Install git
      become: true
      ansible.builtin.dnf:
        name:
          - git
    - name: Download ansible-fedora-setup collection
      ansible.builtin.git:
        repo: "https://github.com/FjellOverflow/ansible-fedora-setup"
        dest: "ansible-fedora-setup"
        version: HEAD # noqa: latest
    - name: Run setup_fedora_server role from ansible-fedora-setup
      ansible.builtin.include_role:
        name: setup_fedora_server
    - name: Setup passwordless sudo
      ansible.builtin.import_tasks: tasks/main.yaml
