name: audiobookshelf
services:
  audiobookshelf:
    image: ghcr.io/advplyr/audiobookshelf:latest
    container_name: audiobookshelf
    volumes:
      - /fjellheimen/data/audiobookshelf/config:/config
      - /fjellheimen/data/audiobookshelf/metadata:/metadata
      - /xdrive/Media/Audiobooks:/audiobooks
      - /xdrive/Media/Podcasts:/podcasts
    env_file:
      - /fjellheimen/stacks/.env
    networks:
      - proxy-network
    healthcheck:
      test: wget -nv -t1 --spider http://localhost:80 || exit 1
      interval: 1m
      start_period: 20s
      timeout: 10s
      retries: 3
    restart: unless-stopped
networks:
  proxy-network:
    external: true
