OIDC_ENABLED=1
OIDC_PROVIDER_METADATA_URL=https://auth.fjellhei.men/oidc/.well-known/openid-configuration
OIDC_CLIENT_ID=<REPLACEME>
OIDC_CLIENT_SECRET=<REPLACEME>
OIDC_CLIENT_CRYPTO_KEY=<REPLACEME>
OIDC_X_FORWARDED_HEADERS="X-Forwarded-Proto X-Forwarded-Host"
OIDC_SCOPES="openid email profile"
